html {
  font-family: sans-serif;
  color: $text-color;
  line-height: 1.5;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 16px;
}

html,
body {
  min-height: 100vh; // ensure backgrounds extend
}
