// fonts
$font-family: Roboto, sans-serif;
$font-size-base: 16px;

// colors
$text-color: #333;
$button-color: #65a1ef;
$button-hover-color: lighten($button-color, 5%);
$button-hover-border-color: lighten($button-color, 20%);

// borders
$input-border-width: 2px;

// gutter
$gutter-width: 24px;
$input-padding: $gutter-width / 2; // keep button and input padding consistent

// breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1450px;

$screen-base-max: ($screen-xs-min - 1);
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

// container widths
$container-xs: $screen-xs-min - ($gutter-width * 2);
$container-sm: $screen-sm-min - ($gutter-width * 2);
$container-md: $screen-md-min - ($gutter-width * 2);
$container-lg: $screen-lg-min - ($gutter-width * 2);
$container-xl: $screen-xl-min - ($gutter-width * 2);
