.movie-tile {
  background-color: #000;
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 10px;
  position: relative;

  &:hover {
    .overlay {
      display: block;
    }
  }

  .poster {
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .title {
    flex-grow: 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 6px;
  }

  .overlay {
    background-color: #000;
    display:none;
    position: absolute;
    bottom: 0;
  }
}
