.movie-tile {
  background-color: #000;
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: $gutter-width / 2;
  position: relative;
  border: 2px solid #444;
  overflow: hidden; // let overlay slide up

  &:hover {
    .overlay {
      display: block;
      opacity: 1;
      top: 0;
    }
  }

  &-appear,
  &-enter {
    opacity: 0.01;
    transition: opacity 500ms ease-in-out;

    &-active {
      opacity: 1;
    }
  }

  .poster {
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .title {
    flex-grow: 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 6px;
  }

  .overlay {
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: -20px;
    width: 100%;
    opacity: 0;
    transition: opacity .15s ease-in-out, top .15s ease-in-out;
    padding: 3px 6px;

    .release-date {
      font-size: 14px;
      display: block;
    }
  }
}
