.search-form {
  $input-height: 50px; // set variable so input and button are same height
  $input-padding: 15px;

  margin-bottom: 30px;

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
  }

  // hide label and legend from all but screen readers
  // (both elements are for accessibility)
  legend,
  .search-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .search-input {
    border: 2px solid #65a1ef;
    width: 100%;
    height: $input-height;
    line-height: 40px;
    transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
    opacity: 1;
    background: rgba(255, 255, 255, .4);
    padding: 0 $input-padding;

    &:focus {
      outline: 0; // make sure to add focus styles if outline is removed
      background: rgba(255, 255, 255, .6);
    }

    // no autoprefixer for ::placeholder exists yet, so normally would add a mixin here
    // if i was going to support more than webkit
    &::-webkit-input-placeholder {
      color: #333;
      opacity: 1;
      font-size: 16px;
    }
  }

  .search-button {
    background-color: #65a1ef;
    height: $input-height;
    line-height: $input-height - 4px; // subtract 4px to accommodate 2px border
    border: 2px solid #65a1ef;
    position: absolute;
    right: 0;
    padding: 0 $input-padding;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 0; // make sure to add focus styles if outline is removed
    }

    &:hover,
    &:focus {
      background-color: lighten(#65a1ef, 5%);
      border-color: lighten(#65a1ef, 20%);
    }
  }
}
