* {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  font-weight: 300;
  color: #fff;
  line-height: 1.5;
  background: url('http://i.imgur.com/CaTD18H.jpg') no-repeat 0 0;
  background-size: 200%; // zoom in so we can animate
  animation: animate-background 80s infinite linear; // give a subtle animated background
}

body {
  margin: 0;
  font-size: $font-size-base;
  background-color: rgba(0, 0, 0, .9);
  padding: 20px 0;
}

html,
body {
  min-height: 100vh; // ensure backgrounds extend
}

@keyframes animate-background {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

h1,
h2 {
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

h1 {
  font-size: 30px;
  padding-bottom: 24px;

  @media (min-width: $screen-xs-min) {
    font-size: 36px;
  }

  @media (min-width: $screen-sm-min) {
    font-size: 45px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 54px;
  }

  @media (min-width: $screen-lg-min) {
    font-size: 60px;
  }
}

h2 {
  font-size: 24px;

  @media (min-width: $screen-xs-min) {
    font-size: 30px;
  }

  @media (min-width: $screen-sm-min) {
    font-size: 36px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 45px;
  }

  @media (min-width: $screen-lg-min) {
    font-size: 50px;
  }
}

main {
  display: block; // ie 11 fix
}

input,
button {
  font-family: inherit;
  font-size: inherit;

  &:focus {
    outline: 0;
  }
}

button {
  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    cursor: default;
    pointer-events: none; // prevent all click events
  }
}
