.default-button {
  background-color: $button-color;
  border: 2px solid $button-color;
  padding: 0 $input-padding;

  &:hover,
  &:focus {  // add a focus style since outline is removed
    background-color: $button-hover-color;
    border-color: $button-hover-border-color;
  }

  &[disabled] {
    &,
    &:hover {
      background: darken($button-color, 25%);
      color: darken($button-color, 5%);
      border-color: darken($button-color, 15%);
    }
  }
}
