<!doctype html>
<html lang="en">
  <head>
    <title>Movie Search</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic">
    <!-- only using 1 icon from this. In a real app I would construct a custom icon-font to reduce page load -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <main class="page-width" id="content"></main>
    <!-- keep js at the bottom since it blocks rendering -->
    <script src="../build/vendor.bundle.js"></script>
    <script src="../build/bundle.js"></script>
  </body>
</html>
